Xft.dpi: 98
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       #d54e53
*.color9:       #d54e53

! Green + Bright Green
*.color2:       #b9ca4a
*.color10:      #b9ca4a

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       #f99157
*.color11:      #f99157

! Blue + Bright Blue
*.color4:       #6699cc
*.color12:      #6699cc

! Magenta (Purple) + Bright Magenta
*.color5:       #b777e0
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       #66cccc
*.color14:      #66cccc

! Light Grey (Selection) + White (Current Line)
*.color7:       #373b41
*.color15:      #282a2e
