Xft.dpi: 117
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!! gruvbox:
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

!*background: #151515
!*foreground: #D0D0D0
!*.cursorColor: #aeafad
!
!! Black + dark black
!*color0: #151515
!*color8: #666666
!! Red
!*color1: #B66467
!*color9: #B66467
!! Green
!*color2: #90A959
!*color10: #90A959
!! Yellow
!*color3: #F4BF75
!*color11:  #F4BF75
!! Blue
!*color4: #6A9FB5
!*color12: #6A9FB5
!! Magenta
!*color5: #AA759F
!*color13: #AA759F
!! Cyan
!*color6: #75B5AA
!*color14: #75B5AA
!! Whites
!*color7: #373b41
!*color15: #D0D0D0

!!TomorrowNight
!#define t_background        #1d1f21
!#define t_current_line      #282a2e
!#define t_selection      	#373b41
!#define t_foreground      	#c5c8c6
!#define t_comment	     	#969896
!#define t_red		     	#cc6666
!#define t_orange	     	#de935f
!#define t_yellow        	#f0c674
!#define t_green	        	#b5bd68
!#define t_aqua	        	#8abeb7
!#define t_blue	        	#81a2be
!#define t_purple        	#b294bb
!
!
!*.foreground:   t_foreground
!*.background:   t_background
!*.cursorColor:  #aeafad
!
!! Black / Grey
!*.color0:       #000000
!*.color8:       #666666
!
!! Red / Bright Red
!*.color1:       t_red
!*.color9:       #FF3334
!
!! Green + Bright Green
!*.color2:       t_green
!*.color10:      #9ec400
!
!! Yellow (Orange) + Bright Yellow (Yellow)
!*.color3:       t_orange
!*.color11:      t_yellow
!
!! Blue + Bright Blue
!*.color4:       t_blue
!*.color12:      t_blue
!
!! Magenta (Purple) + Bright Magenta
!*.color5:       t_purple
!*.color13:      #b777e0
!
!! Cyan (Aqua) + Bright Cyan
!*.color6:       t_aqua
!*.color14:      #54ced6
!
!! Light Grey (Selection) + White (Current Line)
!*.color7:       t_selection
!*.color15:      t_current_line
